@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

@font-face {
  font-family: myFirstFont;
  src: url(kyokasho.ttf);
}

:root {
  --color: rgba(0, 0, 0, 0.08);
  --color2: rgba(0, 0, 0, 0.02);
}

* {  
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

h2, h3, h4 {
  font-weight: 500;
}

/*hide and show*/

.bgHeader {
  position: relative;
  height: 30vh;
  width: 100%;
  overflow: hidden;
  background-image: url(./img/ocean-sand.jpg);
  background-position: center 0;
  background-size: cover;
}

.judul {
  position: absolute;
  top: 5.2rem;
  left: 8rem;
  color: white;
  font-size: 3rem;
  font-weight: 600;  
  font-family: "Poppins", sans-serif;
}

.judul span {
  color: rgb(255, 225, 125);
}

/*slide Quotes di header*/

.slide {
  position: relative;
  justify-self: end;
  right: 4rem;
  top: 6rem;
  color: aliceblue;
  max-width: 24rem;
  max-height: 5rem;
  background-color: #0000002d;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 8px #0000002d;
}

.list {
  display: flex;
  animation: slide 32s infinite;
}

@keyframes slide {

  0% {
    transform: translateX(100%);
  }

  1% {
    transform: translateX(0);
  }

  28% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-100%);
  }

  51% {
    transform: translateX(-100%);
  }

  53% {
    transform: translateX(-200%);
  }

  74% {
    transform: translateX(-200%);
  }

  76% {
    transform: translateX(-300%);
  }

  99% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(-400%);
  }

}

.item {
  min-width: 24rem;
  text-align: center;
}

/*====batas====*/

.seksi {
  position: relative;
  min-height: 45vh;
  overflow-y: scroll;
}

.seksi::-webkit-scrollbar {
  width: 0px;
}


/*tombol serba guna*/

.kontrol {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-left: 1rem;
  margin-top: -2.55rem;
}

.kolom {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;  
  align-items: center;
  align-content: center;
}

.top {
  margin: 0.4rem auto;
  font-weight: 700;
  color: rgba(66, 67, 68, 0.781);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: rgb(240, 241, 131);
  box-shadow: 0 -2px 2px 1px rgba(50, 87, 87, 0.541);
  padding: 0.5rem 0.5rem 0.15rem 0.5rem;
}

/*.bubun {
  background-color: rgb(151, 135, 90);
}*/

.space {
  height: 10vh;
  background-color: rgb(90, 151, 151);
  overflow: hidden;
}

/*footer*/

.footer {
  height: 0vh;
  background-color: rgb(72, 121, 121);
}

.colour-block {
  background:rgb(72, 121, 121);
  height:14vh;
  color:#ffffff85;
  text-align: center;
  padding-top: 1.2rem;
}

/*----------------*/
/*  SCALLOP up    */
/*----------------*/

.bungkus {
  position: relative;
  width: 100%;
}

.scallop-up{
  position: absolute;
  z-index: 99;
  margin-top: -30px;
  height:50px;
  width:100%;
  background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(rgb(72, 121, 121)), color-stop(0.49, rgb(72, 121, 121)), color-stop(0.51, #00000000), to(rgba(0, 0, 0, 0)));
  -webkit-background-size: 30px 100%;
}

.scallop-up-shadow{
  position: absolute;
  margin-top: -31.5px;
  margin-left: 0.4px;
  height:50px;
  width:100%;
  background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(rgba(0, 0, 0, 0.380)), color-stop(0.49, rgba(0, 0, 0, 0.380)), color-stop(0.51, #00000000), to(rgba(0, 0, 0, 0)));
  -webkit-background-size: 30px 100%;
}


/*desain tombol*/

.botan {
  width: 60px;
  height: 24px;
  color: #474545;
 /* margin-top: 6px; margin-left: 8px;*/  
  /*desain*/
  border: 2px solid #81a7a3;
  border-radius: 8%;
  box-shadow: 2px 2px 0 0 white, 4px 4px 0 0 #c5c5c5;
  transition-duration: 200ms;
}

.botan:hover {
  box-shadow: 3px 3px 0 0 white, 6px 6px 0 0 #c5c5c5;
  transform: translate(-1px,-1px);
}

/*penting buat hide and show di js*/

ruby rt {
  visibility: hidden;
  color: #A19895;
}

.ja {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.jaa {
  display: inline-flex;
}

.rtFlex {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.jp {  
  font-size: 1.8rem;
  font-family: myFirstFont;
}

.margin {
  margin-left: 30px;
}

.teks {
  line-height: 3rem;
  margin: 1.8rem 3rem 1.8rem 1.2rem;  
  color: #474545;
}

.ja .sp {
  position: relative;
  top: -0.5rem;
  color: rgb(216, 144, 85);
}

.flex{
  margin-inline: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.urutan {
  font-size: 1.8rem;
  margin-top: 10px;
  margin-right: 40px;
  color: #474545;
}

.batas {
  margin-left: 4px;
  padding-left: 20px;
  border-left: 2px solid #A19895;
}

/*warna*/
.blue {
  color: #474545;
}

.blue1 {
  color: #474545;
}

.grey {
  color: #969494;
}

.bok {
  position: relative;
  background-color: #fffefd;
  margin-left: 40px;
  margin-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 60px;
  /* dashed border */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23d9d9d9' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='30' stroke-linecap='square'/%3e%3c/svg%3e");
  /* fill: background-color */
  /* stroke: border-color */
  /* stroke-dasharray: space bewtween dots */
  /* rx and ry needs to be equal to the border-radius */
  border-radius: 12px;
}

.plain, .bok ul {
  font-size: 1.6rem;
  color: #A19895;
  line-height: 2.3rem;
}

.box {
  margin-left: 40px;
  line-height: 2.4rem;
}

.roma {
  list-style-type: decimal;
}

.kana {
  list-style-type: katakana;
}

/*Summary and Detail*/
/*font-family: "Mincho", sans-serif; color: #EF8762; color: #7ea742; color: #EAA643; color: #89765B;*/

.utama .panah1 {
  font-size: 1.8rem;
  color: #81a7a3c9;
}

.utama .panah2 {
  font-size: 1.6rem;
  color: #81a7a3c9;  
}

.h2 {
  font-size: 1.8rem;
  color: #4d391ace;
  font-family: "Nunito";
  font-weight: 600;
}

.h3 {
  font-size: 1.6rem;
  color: #4d391ace;
  font-family: "Nunito";
  font-weight: 600;  
}

details {
  position:relative;
}

summary {
  padding-inline: 0.5rem;
  cursor: pointer;
}

.content {
  display: block;
  margin-inline: 2rem;
}